<!-- INCLUDE overall_header.html -->

<div class="row">
	<div class="col-md-9">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">
					Bewerbung
				</h2>
			</div>
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body content">
						{POST_TEXT}
					</div>
					<div class="panel-footer">
						<a href="viewforum.php?f={APPLY_FORUM}">Zum Bewerberforum</a>
					</div>
				</div>
			</div>
		</div>
	</div><!-- END col -->
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Bewerbungsmöglichkeiten</h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>Erstellt eine kurze aussagekräftige Bewerbung im <a href="viewforum.php?f={APPLY_FORUM}">Forum</a></li>
					<li>Schreibt der <a href="memberlist.php?mode=group&g={LEAD_GROUP}">Gildenleitung</a> eine PM</li>
					<li>Kontaktiert uns im Spiel</li>
				</ul>
			</div>
		</div>
		<!-- EVENT clausi_recruitment_block -->
	</div>
</div><!-- END row -->

<!-- INCLUDE overall_footer.html -->
