<!-- INCLUDE overall_header.html -->

<div class="panel">
<div class="inner"><span class="corners-top"><span></span></span>

<div class="guildcontent">

	<h2>{TITEL}</h2>
	<br />
	<div class="content">
	<p>
		{POST_TEXT}
	</p>
	</div>
	<br />
	<br style="clear:both" />
	
	<a href="viewforum.php?f=23">Zum Bewerberforum</a>
	
</div>

<div class="guildsidebar content">
	<h2 style="padding-top: 6px;">Bewerbungsmöglichkeiten</h2>
	<br />
	<div class="content">
		<ul style="font-size: 1.2em;">
			<li>Erstellt eine kurze aussagekräftige Bewerbung im <a href="viewforum.php?f=23">Forum</a></li>
			<li>Schreibt der <a href="memberlist.php?mode=group&g=9">Gildenleitung</a> eine PM</li>
			<li>Kontaktiert uns im Spiel</li>
		</ul>
	</div>
	
	<!-- INCLUDE startrecruitment.html -->
</div>
	
<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE overall_footer.html -->