<!-- IF S_AJAX_REQUEST -->

	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close alert_close"><span aria-hidden="true">&times;</span><span class="sr-only">{L_CLOSE_WINDOW}</span></button>
			<h4 class="modal-title">{MESSAGE_TITLE}</h4>
		</div>
		<div class="modal-body">
			<p>{MESSAGE_TEXT}</p>
		</div>
		<div class="modal-footer">
			<form action="{S_CONFIRM_ACTION}" class="confirm_form" method="post">
				{S_HIDDEN_FIELDS}
				<input type="button" class="btn btn-success" name="confirm" value="{L_YES}" />
				<input type="button" class="btn btn-default" name="cancel" value="{L_NO}" data-dismiss="modal" />
			</form>
		</div>
	</div><!-- /.modal-content -->

<!-- ELSE -->

<!-- INCLUDE overall_header.html -->

<form id="confirm" action="{S_CONFIRM_ACTION}" method="post">
<div class="panel">
	<div class="inner">

	<h2 class="message-title">{MESSAGE_TITLE}</h2>
	<p>{MESSAGE_TEXT}</p>

	<fieldset class="submit-buttons">
		{S_HIDDEN_FIELDS}
		<input type="submit" name="confirm" value="{L_YES}" class="btn btn-success" />&nbsp;
		<input type="submit" name="cancel" value="{L_NO}" class="btn btn-danger" />
	</fieldset>

	</div>
</div>
</form>

<!-- INCLUDE overall_footer.html -->

<!-- ENDIF -->
