<!-- INCLUDE overall_header.html -->

<!-- IF S_CLAUSI_EPGP_ACTIVE and U_EPGP -->
<h2>{L_EPGP_CHARACTER} {CHARNAME}</h2>

<div class="row top10 bottom10">
	<div class="col-md-12 bottom10">
		<a href="{U_EPGP_PAGE}" class="btn btn-default pull-right">{L_EPGP_BACK}</a>
	</div>
	<div class="col-md-12">
		<div id="character_epgp" style="width:100%; min-height:440px;"></div>
	</div>

	<!-- IF .epgp_items -->
	<div class="col-md-12">
		<h3>{L_LATEST_ITEMS}</h3>
		<ul>
			<!-- BEGIN epgp_items -->
			<li><a href="http://de.wowhead.com/?item={epgp_items.GAME_ID}" rel="bonus={epgp_items.ITEM_BONUS}">{epgp_items.GAME_ID}</a><small> {epgp_items.LOOTER} / {epgp_items.ITEM_GP} GP / {epgp_items.LOOTED}</small></li>
			<!-- END epgp_items -->
		</ul>
	</div>
	<!-- ENDIF -->
</div>

<!-- ELSE -->

<div class="well">{L_EPGP_INACTIVE}</div>

<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->