<!-- INCLUDE overall_header.html -->

<div class="row">
	<div class="col-md-9">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">
					Gilde
				</h2>
			</div>
			<div class="col-lg-12">
				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a href="#roster" role="tab" data-toggle="tab">Roster</a></li>

				</ul>

				<div class="tab-content">
					<div class="tab-pane active" id="roster"><!-- INCLUDE roster.html --></div>
				</div>
			</div>
		</div>
	</div><!-- END col -->
	<div class="col-md-3">
		<!-- INCLUDE emblem_block.html -->
		<!-- INCLUDE achievement_block.html -->
		<!-- INCLUDE progress_block.html -->
	</div>
</div><!-- END row -->

<!-- INCLUDE overall_footer.html -->
