<ul class="topiclist">
	<li>
		<a href="http://eu.battle.net/wow/de/guild/anetheron/{GUILDNAME}/" class="forumtitle" title="{GUILDNAME}"><img src="./gilde/armory/wowarmoryapi/cache/{GUILDEMBLEM}.png" alt="{GUILDNAME}" width="175" height="187"/></a>
	</li>
</ul>

<br />
<br />

<h3>Neueste Gildenerfolge</h3>
<ul class="topiclist">
	<!-- BEGIN n_guildachievements -->
	<li>
		<a href="{n_guildachievements.WOWHEAD_URL}" class="forumtitle">[{n_guildachievements.NAME}]</a>
	</li>
	<!-- END n_guildachievements -->
</ul>

