<h2>Gildenleitung <span class="rostersmall"> ( {COUNTRAT} )</span></h2>
<!-- BEGIN n_gildenrat -->
	<p>
		<span class="rmember"><img src="./gilde/images/race/{n_gildenrat.RACE}-{n_gildenrat.GENDER}.gif" alt="Race" /> <img src="./gilde/images/class/{n_gildenrat.CLASS}.gif" alt="Class" /> {n_gildenrat.NAME}</span> 
		<span class="rostersmall">{n_gildenrat.LEVEL}</span>
	</p>
<!-- END n_gildenrat -->
<div class="column1">
	<h2>Member <span class="rostersmall"> ( {COUNTRAIDER} )</span></h2>
	<h4><img src="./gilde/images/class/11.gif" alt="Druide" /> Druide</h4>
	<br />
	<!-- BEGIN n_druide -->
		<p><span class="rmember"><img src="./gilde/images/race/{n_druide.RACE}-{n_druide.GENDER}.gif" alt="Race" /> {n_druide.NAME}</span> 
		<span class="rostersmall">{n_druide.RANG} {n_druide.LEVEL}<!-- IF U_ACP or S_GROUP_5 or S_GROUP_8 --> Invite: {n_druide.FIRSTSEEN}<!-- ENDIF --></span></p>
	<!-- END n_druide -->
	<br />
	<h4><img src="./gilde/images/class/9.gif" alt="Hexenmeister" /> Hexenmeister</h4>
	<br />
	<!-- BEGIN n_hexer -->
		<p><span class="rmember"><img src="./gilde/images/race/{n_hexer.RACE}-{n_hexer.GENDER}.gif" alt="Race" /> {n_hexer.NAME}</span> 
		<span class="rostersmall">{n_hexer.RANG} {n_hexer.LEVEL}<!-- IF U_ACP or S_GROUP_5 or S_GROUP_8 --> Invite: {n_hexer.FIRSTSEEN}<!-- ENDIF --></span></p>
	<!-- END n_hexer -->
	<br />
	<h4><img src="./gilde/images/class/3.gif" alt="Jäger" /> Jäger</h4>
	<br />
	<!-- BEGIN n_jaeger -->
		<p><span class="rmember"><img src="./gilde/images/race/{n_jaeger.RACE}-{n_jaeger.GENDER}.gif" alt="Race" /> {n_jaeger.NAME}</span> 
		<span class="rostersmall">{n_jaeger.RANG} {n_jaeger.LEVEL}<!-- IF U_ACP or S_GROUP_5 or S_GROUP_8 --> Invite: {n_jaeger.FIRSTSEEN}<!-- ENDIF --></span></p>
	<!-- END n_jaeger -->
	<br />
	<h4><img src="./gilde/images/class/1.gif" alt="Krieger" /> Krieger</h4>
	<br />
	<!-- BEGIN n_krieger -->
		<p><span class="rmember"><img src="./gilde/images/race/{n_krieger.RACE}-{n_krieger.GENDER}.gif" alt="Race" /> {n_krieger.NAME}</span> 
		<span class="rostersmall">{n_krieger.RANG} {n_krieger.LEVEL}<!-- IF U_ACP or S_GROUP_5 or S_GROUP_8 --> Invite: {n_krieger.FIRSTSEEN}<!-- ENDIF --></span></p>
	<!-- END n_krieger -->
	<br />
	<h4><img src="./gilde/images/class/8.gif" alt="Magier" /> Magier</h4>
	<br />
	<!-- BEGIN n_magier -->
		<p><span class="rmember"><img src="./gilde/images/race/{n_magier.RACE}-{n_magier.GENDER}.gif" alt="Race" /> {n_magier.NAME}</span> 
		<span class="rostersmall">{n_magier.RANG} {n_magier.LEVEL}<!-- IF U_ACP or S_GROUP_5 or S_GROUP_8 --> Invite: {n_magier.FIRSTSEEN}<!-- ENDIF --></span></p>
	<!-- END n_magier -->
	<br />
	<h4><img src="./gilde/images/class/10.gif" alt="Mönch" /> Mönch</h4>
	<br />
	<!-- BEGIN n_monk -->
		<p><span class="rmember"><img src="./gilde/images/race/{n_monk.RACE}-{n_monk.GENDER}.gif" alt="Race" /> {n_monk.NAME}</span> 
		<span class="rostersmall">{n_monk.RANG} {n_monk.LEVEL}<!-- IF U_ACP or S_GROUP_5 or S_GROUP_8 --> Invite: {n_monk.FIRSTSEEN}<!-- ENDIF --></span></p>
	<!-- END n_monk -->
	<br />
</div>
<div class="column2">
	<h2>&nbsp;</h2>
	<h4><img src="./gilde/images/class/2.gif" alt="Paladin" /> Paladin</h4>
	<br />
	<!-- BEGIN n_paladin -->
		<p><span class="rmember"><img src="./gilde/images/race/{n_paladin.RACE}-{n_paladin.GENDER}.gif" alt="Race" /> {n_paladin.NAME}</span> 
		<span class="rostersmall">{n_paladin.RANG} {n_paladin.LEVEL}<!-- IF U_ACP or S_GROUP_5 or S_GROUP_8 --> Invite: {n_paladin.FIRSTSEEN}<!-- ENDIF --></span></p>
	<!-- END n_paladin -->
	<br />
	<h4><img src="./gilde/images/class/5.gif" alt="Priester" /> Priester</h4>
	<br />
	<!-- BEGIN n_priester -->
		<p><span class="rmember"><img src="./gilde/images/race/{n_priester.RACE}-{n_priester.GENDER}.gif" alt="Race" /> {n_priester.NAME}</span> 
		<span class="rostersmall">{n_priester.RANG} {n_priester.LEVEL}<!-- IF U_ACP or S_GROUP_5 or S_GROUP_8 --> Invite: {n_priester.FIRSTSEEN}<!-- ENDIF --></span></p>
	<!-- END n_priester -->
	<br />
	<h4><img src="./gilde/images/class/7.gif" alt="Schamane" /> Schamane</h4><br />
	<!-- BEGIN n_schamane -->
		<p><span class="rmember"><img src="./gilde/images/race/{n_schamane.RACE}-{n_schamane.GENDER}.gif" alt="Race" /> {n_schamane.NAME}</span> 
		<span class="rostersmall">{n_schamane.RANG} {n_schamane.LEVEL}<!-- IF U_ACP or S_GROUP_5 or S_GROUP_8 --> Invite: {n_schamane.FIRSTSEEN}<!-- ENDIF --></span></p>
	<!-- END n_schamane -->
	<br />
	<h4><img src="./gilde/images/class/4.gif" alt="Schurke" /> Schurke</h4>
	<br />
	<!-- BEGIN n_schurke -->
		<p><span class="rmember"><img src="./gilde/images/race/{n_schurke.RACE}-{n_schurke.GENDER}.gif" alt="Race" /> {n_schurke.NAME}</span> 
		<span class="rostersmall">{n_schurke.RANG} {n_schurke.LEVEL}<!-- IF U_ACP or S_GROUP_5 or S_GROUP_8 --> Invite: {n_schurke.FIRSTSEEN}<!-- ENDIF --></span></p>
	<!-- END n_schurke -->
	<br />
	<h4><img src="./gilde/images/class/6.gif" alt="Todesritter" /> Todesritter</h4>
	<br />
	<!-- BEGIN n_todesritter -->
		<p><span class="rmember"><img src="./gilde/images/race/{n_todesritter.RACE}-{n_todesritter.GENDER}.gif" alt="Race" /> {n_todesritter.NAME}</span> 
		<span class="rostersmall">{n_todesritter.RANG} {n_todesritter.LEVEL}<!-- IF U_ACP or S_GROUP_5 or S_GROUP_8 --> Invite: {n_todesritter.FIRSTSEEN}<!-- ENDIF --></span></p>
	<!-- END n_todesritter -->
	<br />
</div>

<div class="clear"></div>

<div class="column31">
	<h2>Friends <span class="rostersmall"> ( {COUNTFRIENDS} )</span></h2>
	<!-- BEGIN n_friends1 -->
		<p><span class="rmember"><img src="./gilde/images/race/{n_friends1.RACE}-{n_friends1.GENDER}.gif" alt="Race" /> <img src="./gilde/images/class/{n_friends1.CLASS}.gif" alt="Class" /> {n_friends1.NAME}</span>{n_friends1.LEVEL}</p>
	<!-- END n_friends1 -->
</div>
<div class="column32">
	<h2>&nbsp;</h2>
	<!-- BEGIN n_friends2 -->
		<p><span class="rmember"><img src="./gilde/images/race/{n_friends2.RACE}-{n_friends2.GENDER}.gif" alt="Race" /> <img src="./gilde/images/class/{n_friends2.CLASS}.gif" alt="Class" /> {n_friends2.NAME}</span>{n_friends2.LEVEL}</p>
	<!-- END n_friends2 -->
</div>
<div class="column33">
	<h2>&nbsp;</h2>
	<!-- BEGIN n_friends3 -->
		<p><span class="rmember"><img src="./gilde/images/race/{n_friends3.RACE}-{n_friends3.GENDER}.gif" alt="Race" /> <img src="./gilde/images/class/{n_friends3.CLASS}.gif" alt="Class" /> {n_friends3.NAME}</span>{n_friends3.LEVEL}</p>
	<!-- END n_friends3 -->
</div>
<div class="clear"></div>
<!-- IF U_ACP or S_GROUP_5 or S_GROUP_9 -->
<a name="exmember"></a>
<div class="column31">
	<h2>Ex-Member <span class="rostersmall"> ( {COUNTEXMEMBER} )</span></h2>
	<!-- BEGIN n_exmember1 -->
	<p>
		<span class="rmember">{n_exmember1.NAME}</span> 
		<span class="rostersmall">{n_exmember1.RANG} ({n_exmember1.JOIN} - {n_exmember1.KICK})</span>
	</p>
	<!-- END n_exmember1 -->
</div>
<div class="column32">
	<h2>&nbsp;</h2>
	<!-- BEGIN n_exmember2 -->
	<p>
		<span class="rmember">{n_exmember2.NAME}</span> 
		<span class="rostersmall">{n_exmember2.RANG} ({n_exmember2.JOIN} - {n_exmember2.KICK})</span>
	</p>
	<!-- END n_exmember2 -->
</div>
<div class="column33">
	<h2>&nbsp;</h2>
	<!-- BEGIN n_exmember3 -->
	<p>
		<span class="rmember">{n_exmember3.NAME}</span> 
		<span class="rostersmall">{n_exmember3.RANG} ({n_exmember3.JOIN} - {n_exmember3.KICK})</span>
	</p>
	<!-- END n_exmember3 -->
</div>
<div class="clear"></div>
<a href="gilde.php?exmember=showall#exmember" title"Zeige alle Ex-Member">Zeige alle Ex-Member</a>
<!-- ENDIF -->

<div class="clear"></div>

