<!-- INCLUDE overall_header.html -->

<!-- INCLUDE breadcrumb.html -->

<!-- INCLUDE searchbox.html -->

<div class="row">
	<div class="col-md-9">

<!-- INCLUDE forumlist_body.html -->

<!-- INCLUDE loginbox.html -->

	</div><!-- END col -->
	<div class="col-md-3">
	<!-- EVENT index_body_stat_blocks_before -->
		<!-- INCLUDE viewonline_box.html -->
		<!-- INCLUDE birthday_box.html -->
		<!-- INCLUDE statistics_box.html -->
	<!-- EVENT index_body_stat_blocks_after -->
	</div>
</div><!-- END row -->

<!-- INCLUDE overall_footer.html -->
