<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{L_LOGIN_LOGOUT}</h3>
	</div>	
	<div class="panel-body">
		<form method="post" action="{S_LOGIN_ACTION}" class="form-inline" role="form">
			<div class="form-group">
				<input type="text" placeholder="{L_USERNAME}" name="username" id="username" class="form-control input-sm" style="width: 117px;"/>	
				<input type="password" placeholder="{L_PASSWORD}" name="password" id="password" class="form-control input-sm" style="width: 117px;"/>
				
				<input type="submit" name="login" value="{L_LOGIN}" class="btn btn-primary" />
				
				{S_LOGIN_REDIRECT}
			</div>
			<!-- IF S_REGISTER_ENABLED --><a href="{U_REGISTER}" class="btn btn-primary" title="{L_REGISTER}"><i class="glyphicon glyphicon glyphicon-user"></i> {L_REGISTER}</a><!-- ENDIF -->
		</form>
		
	</div>
</div>
<!-- ENDIF -->