<!-- IF not .notifications -->
	<li>
		<i class="fa fa-bell-slash fa-fw"></i> {L_NO_NOTIFICATIONS}
	</li>
<!-- ENDIF -->
<li>
<!-- BEGIN notifications -->
	<!-- IF notifications.URL -->
		<a href="<!-- IF notifications.UNREAD -->{notifications.U_MARK_READ}" data-real-url="{notifications.URL}<!-- ELSE -->{notifications.URL}<!-- ENDIF -->">
	<!-- ENDIF -->
	<p>
		{notifications.FORMATTED_TITLE}
		<!-- IF notifications.REFERENCE -->{notifications.REFERENCE}<!-- ENDIF -->
		<!-- IF notifications.FORUM -->{notifications.FORUM}<!-- ENDIF -->
		<!-- IF notifications.REASON -->{notifications.REASON}<!-- ENDIF -->
		{notifications.TIME}
		<a href="{notifications.U_MARK_READ}" data-ajax="notification.mark_read" title="{L_MARK_READ}">{L_MARK_READ}</a>
	</p>
	<!-- IF notifications.URL --></a><!-- ENDIF -->
<!-- END notifications -->
</li>
<li class="divider"></li>
<li>
	<a href="{U_VIEW_ALL_NOTIFICATIONS}"><span>{L_SEE_ALL} {L_NOTIFICATIONS}</span></a>
</li>
<li class="divider"></li>
<li>
	<a href="{U_NOTIFICATION_SETTINGS}"><i class="fa fa-pencil fa-fw"></i> {L_SETTINGS}</a>
</li>
<!-- IF NOTIFICATIONS_COUNT -->
<li>
	<a href="{U_MARK_ALL_NOTIFICATIONS}"><i class="fa fa-check-square-o fa-fw"></i> {L_MARK_ALL_READ}</a>
</li>
<!-- ENDIF -->
