<!-- IF not .notifications -->
	<li>
		<a href="#"><i class="fa fa-bell-slash fa-fw"></i> {L_NO_NOTIFICATIONS}</a>
	</li>
<!-- ENDIF -->

<!-- BEGIN notifications -->
<li>
	<!-- IF notifications.URL -->
		<a class="<!-- IF notifications.UNREAD -->bg-warning<!-- ENDIF -->" href="<!-- IF notifications.UNREAD -->{notifications.U_MARK_READ}" data-real-url="{notifications.URL}<!-- ELSE -->{notifications.URL}<!-- ENDIF -->">
	<!-- ENDIF -->
	<ul class="media-list">
	  <li class="media">
		<!-- IF notifications.AVATAR -->{notifications.AVATAR}<!-- ELSE --><img class="img-rounded pull-left" src="{T_THEME_PATH}/images/no_avatar.gif" alt="" /><!-- ENDIF -->
		<div class="media-body">
		  <p>
		 	 <i class="fa fa-comment fa-fw"></i> {notifications.FORMATTED_TITLE}
				<!-- IF notifications.REFERENCE -->{notifications.REFERENCE}<!-- ENDIF -->
				<!-- IF notifications.FORUM -->{notifications.FORUM}<!-- ENDIF -->
				<!-- IF notifications.REASON -->{notifications.REASON}<!-- ENDIF -->
				<br />
				<small>{notifications.TIME}</small>
			</p>
		</div>
	  </li>
	</ul>

	<!-- IF notifications.URL --></a><!-- ENDIF -->
</li>
<!-- END notifications -->

<li class="divider"></li>
<li>
	<a href="{U_VIEW_ALL_NOTIFICATIONS}"><i class="fa fa-list fa-fw"></i> {L_SEE_ALL} {L_NOTIFICATIONS}</a>
</li>
<li class="divider"></li>
<li>
	<a href="{U_NOTIFICATION_SETTINGS}"><i class="fa fa-pencil fa-fw"></i> {L_SETTINGS}</a>
</li>
<!-- IF NOTIFICATIONS_COUNT -->
<li id="mark_all_notifications">
	<a href="{U_MARK_ALL_NOTIFICATIONS}" data-ajax="notification.mark_all_read"><i class="fa fa-check-square-o fa-fw"></i> {L_MARK_ALL_READ}</a>
</li>
<!-- ENDIF -->
