	<!-- EVENT overall_footer_content_after -->
	
	</div><!-- END content-wrapper -->

	<!-- EVENT overall_footer_page_body_after -->
	
	<div id="page-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="btn-group">
						<!-- IF U_MCP -->
							<a class="btn btn-primary" href="{U_MCP}" style=" display: block; ">{L_MCP}</a>
						<!-- ENDIF -->
						<!-- IF U_ACP -->
							<a class="btn btn-primary" href="{U_ACP}" style=" display: block; ">{L_ACP}</a>
						<!-- ENDIF -->
						</div>
					</div>
				<!-- IF not S_STARTPAGE and not S_GUILDPAGE and not S_APPLYPAGE and not S_RAIDPLANER_PAGE -->
				<div class="col-md-2 text-right">
					<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
					<div class="btn-group dropup pull-right">
						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" style=" display: block; ">
						<i class="fa fa-wrench"></i>
						<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<!-- IF S_DISPLAY_SEARCH -->
							<li><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a></li>
							<!-- IF S_LOAD_UNREADS -->
							<li><a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a></li>
							<!-- ENDIF -->
							<!-- IF S_USER_LOGGED_IN -->
							<li><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a></li>
							<!-- ENDIF -->
							<li><a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></li>
							<!-- ENDIF -->
							<!-- EVENT index_body_markforums_before -->
							<!-- IF S_HAS_SUBFORUM -->
							<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
							<li><a href="{U_MARK_FORUMS}" data-ajax="mark_forums_read">{L_MARK_SUBFORUMS_READ}</a></li>
							<!-- ENDIF -->
							<!-- ENDIF -->
							<!-- EVENT index_body_markforums_after -->
						</ul>
					</div>
					<br />
					<!-- ENDIF -->
				</div>
				<!-- ENDIF -->
			</div>
		</div>
		<div class="text-center">
			<!-- EVENT overall_footer_copyright_prepend -->
			{CREDIT_LINE}
			<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
			<!-- EVENT overall_footer_copyright_append -->
			<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
			
		</div>
	</div>
	
	<!-- INCLUDE navbar_footer.html -->
	
	<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" title="{L_BACK_TO_TOP}" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
	<a id="bottom" accesskey="z"></a>
	
	<div id="darkenwrapper" data-ajax-error-title="{L_AJAX_ERROR_TITLE}" data-ajax-error-text="{L_AJAX_ERROR_TEXT}" data-ajax-error-text-abort="{L_AJAX_ERROR_TEXT_ABORT}" data-ajax-error-text-timeout="{L_AJAX_ERROR_TEXT_TIMEOUT}" data-ajax-error-text-parsererror="{L_AJAX_ERROR_TEXT_PARSERERROR}">
		<div id="darken">&nbsp;</div>
	</div>
	<div id="loading_indicator"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
	
	<div class="modal" id="phpbb_alert" data-l-err="{L_ERROR}" data-l-timeout-processing-req="{L_TIMEOUT_PROCESSING_REQ}">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close alert_close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title alert_title">&nbsp;</h4>
				</div>
				<div class="modal-body">
					<p class="alert_text"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default alert_close">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal" id="phpbb_confirm" role="dialog">
		<div class="modal-dialog">
			<div class="alert_text"></div>
		</div>
	</div>
	
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->

<script type="text/javascript" src="{T_JQUERY_LINK}"></script>
<!-- IF S_ALLOW_CDN --><script type="text/javascript">window.jQuery || document.write(unescape('%3Cscript src="{T_ASSETS_PATH}/javascript/jquery.min.js?assets_version={T_ASSETS_VERSION}" type="text/javascript"%3E%3C/script%3E'));</script><!-- ENDIF -->
<!-- INCLUDEJS ajax.js -->
<script type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/styleswitcher.js"></script>
<script type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/forum_fn.js"></script>

<script src="{T_THEME_PATH}/libs/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{T_THEME_PATH}/libs/bootstrap-select/js/bootstrap-select.js" type="text/javascript"></script>
<script src="{T_THEME_PATH}/libs/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{T_THEME_PATH}/libs/datatables/js/dataTables.bootstrap.js" type="text/javascript"></script>

<script type="text/javascript" src="http://static-azeroth.cursecdn.com/current/js/syndication/tt.js"></script>
<script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script><script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>

<script type="text/javascript" src="{T_ASSETS_PATH}/javascript/core.js?assets_version={T_ASSETS_VERSION}"></script>

<!-- INCLUDEJS tenetheme.js -->

<!-- EVENT overall_footer_after -->

<!-- IF S_PLUPLOAD --><!-- INCLUDE plupload.html --><!-- ENDIF -->

{$SCRIPTS}

<!-- IF S_GUILDPAGE -->
<script type="text/javascript">
$(document).ready(function() {
	function filterTable(table, filter) {
		table.fnFilter("^"+filter+"$", 6, true);
	}
	
	$('table.clickable_row').on('click', 'tbody > tr > td', function() {
		if($(this).attr('class') != 'no_click') location.href = $(this).parent('tr').data('url');
	});
	
	var rosterTable = $('#datatables-roster').dataTable( {
		"oLanguage": {
			"sUrl": "{T_THEME_PATH}/libs/datatables/lang/dataTables.german.txt"
		},
		"order": [[ 7, "asc" ], [ 0, "asc" ]],
		"pageLength": 25,
		"lengthMenu": [ [ 10, 15, 25, 50, 100, -1], [ 10, 15, 25, 50, 100, "Alle"] ],

		"columnDefs": [
		  { "targets": 1, "visible": false },
		  { "orderData": [1,2], "targets": 2 },
		  { "targets": 3, "visible": false },
		  { "orderData": [3,4], "targets": 4 },
		  { "targets": 6, "visible": false },
		  { "orderData": [6,7], "targets": 7 }
		],

		"fnInitComplete": function(oSettings, json) {
			createSelectpicker();
			filterTable(this, "[0,1,2,4,5,6]");
		}
	});
	
	$('select#rosterFilter').on('change',function(){
        var selectedValue = $(this).val();
		  filterTable(rosterTable, selectedValue);
	});
	
	<!-- IF U_ACP -->
	$('#datatables-rosterexmember').DataTable( {
		"oLanguage": {
			"sUrl": "{T_THEME_PATH}/libs/datatables/lang/dataTables.german.txt"
		},
		"order": [[ 5, "desc" ]],
		"pageLength": 10,
		"lengthMenu": [[ 10, 15, 25, 50, 100, -1], [ 10, 15, 25, 50, 100, "Alle"] ],
		
		"columnDefs": [
		  { "targets": [ 1 ], "visible": false },
		  { "orderData": [1,2], "targets": [ 2 ] },
		  { "targets": [ 3 ], "visible": false },
		  { "orderData": [3,4], "targets": [ 4 ] },
		  { "targets": [ 6 ], "visible": false },
		  { "orderData": [6,7], "targets": [ 7 ] }
		],
	});
	<!-- ENDIF -->
	
});

</script>
<!-- ENDIF -->

</body>
</html>