<form method="post" action="{U_QR_ACTION}" id="qr_postform" role="form">
<!-- EVENT quickreply_editor_panel_before -->
	<div class="panel panel-default">
		<div class="panel-heading">
    		<h3 class="panel-title">{L_QUICKREPLY}</h3>
    	</div>
    	<div class="panel-body">
			<div class="form-group">
				<label for="subject">{L_SUBJECT}:</label>
				<input type="text" name="subject" id="subject" size="45" maxlength="64" tabindex="2" value="{SUBJECT}" class="form-control" />
			</div>
			<!-- EVENT quickreply_editor_message_before -->
			<div class="form-group">
				<textarea name="message" id="message" rows="7" cols="76" tabindex="3" class="form-control no-auto-resize"></textarea>
			</div>
			<!-- EVENT quickreply_editor_message_after -->
		</div>
		<div class="panel-footer">
			{S_FORM_TOKEN}
			{QR_HIDDEN_FIELDS}
			<input type="submit" accesskey="f" tabindex="6" name="preview" value="{L_FULL_EDITOR}" class="btn btn-primary" id="qr_full_editor" />&nbsp;
			<input type="submit" accesskey="s" tabindex="7" name="post" value="{L_SUBMIT}" class="btn btn-success" />&nbsp;
		</div>
	</div>
<!-- EVENT quickreply_editor_panel_after -->
</form>