<h3><a href="http://www.wowprogress.com/guild/{REGION}/{REALM}/{GUILD}" title="Raid Progress">Raid Progress</a></h3>
<!-- BEGIN raidprogress -->
	<div class="raidprogress">
		<a href="http://de.wowhead.com/zone={raidprogress.RAIDID}">{raidprogress.RAIDNAME}</a><br />
		<div class="progressbar">
			<div class="progress" style="width: {raidprogress.PROZENT}%;">
				<!-- IF raidprogress.BOSSESKILLED > 0 --><div class="progressText"><a id="tooltip_{raidprogress.NORMALNUMBER}" class="tooltip" href="#">{raidprogress.BOSSESKILLED} / {raidprogress.TOTALBOSSES}</a></div><!-- ENDIF -->
			</div>
			<div class="progress2" style="width: {raidprogress.PROZENTHC}%;">
				<!-- IF raidprogress.HCBOSSESKILLED > 0 --><div class="progressText"><a id="tooltip_{raidprogress.HEROICNUMBER}" class="tooltip"  href="#">HC: {raidprogress.HCBOSSESKILLED} / {raidprogress.TOTALHCBOSSES}</a></div><!-- ENDIF -->
			</div>
		</div>
	</div>
	<div style="display: none;">
		<div id="data_tooltip_{raidprogress.NORMALNUMBER}">
			<!-- BEGIN normalbosskills -->
			{raidprogress.normalbosskills.BOSSNAME} ~ {raidprogress.normalbosskills.KILLDATE}<br />
			<!-- END normalbosskills -->
		</div>
	</div>
	<div style="display: none;">
		<div id="data_tooltip_{raidprogress.HEROICNUMBER}">
			<!-- BEGIN heroicbosskills -->
			{raidprogress.heroicbosskills.BOSSNAME} HC ~ {raidprogress.heroicbosskills.KILLDATE}<br />
			<!-- END heroicbosskills -->
		</div>
	</div>
<!-- END raidprogress -->
<div id="realmrank">
<p><a href="http://www.wowprogress.com/guild/{REGION}/{REALM}/{GUILD}" style="font-size: 0.7em; color: #FFD152;">WoWProgress.com</a></p>
<p style="font-size: 1.2em;">Realm Rank:</p>
<p style="color: #fff; font-size: 2.5em; font-weight: bold;">{REALMRANK}</p>
</div>