<h3><a href="http://www.wowprogress.com/guild/eu/anetheron/purity" title="purity - Rekrutierung">Rekrutierung</a></h3>

<div id="recruitment">
<!-- BEGIN n_recruitment -->
	{n_recruitment.GERMANROLES}<br />
	<div>
		<!-- BEGIN n_classes -->
			<div>
				<div class="progressText">{n_recruitment.n_classes.CLASS}<!-- IF n_recruitment.ROLES == 'damage' --> ~ {n_recruitment.n_classes.SPEC}<!-- ENDIF --></div>
			</div>
		<!-- END n_classes -->
	</div>
	<br />
<!-- END n_recruitment -->
<!-- IF S_STARTPAGE --><a href="apply.php" title="Bewerbung">Bewerbung im Forum</a> oder schreibt uns persönlich an!<!-- ENDIF -->
</div>