<div class="panel panel-default">
	<div class="panel-body">
		<div class="row bottom5">
			<div class="col-xs-12">
				<div class="form-group pull-right">
					<label for="rosterFilter">Rangfilter:</label> 
					<select id="rosterFilter">
						 <option value="[0-9]">alle</option>
						 <option value="[0,1,2]">Offis</option>
						 <option value="[0,1,2,3,5,6]" selected="selected">Raider (Offis, Members, Trials)</option>
						 <option value="[3,5,6]">Members, Trials</option>
						 <option value="[8,9]">Friends</option>
						 <option value="[4,7]">Twinks</option>
					</select>
				</div>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-hover table-striped clickable_row" id="datatables-roster">
				<thead>
					<tr>
						<th>Name</th>
						<th>Race</th>
						<th>Volk</th>
						<th>Class</th>
						<th>Klasse</th>
						<th>Stufe</th>
						<th>Rank</th>
						<th>Gildenrang</th>
						<th>Erfolgspunkte</th>
					</tr>
				</thead>
				
				<tbody>
					<!-- BEGIN n_members -->
					<tr data-url="http://{REGION}.battle.net/wow/{BNETLOCALE}/character/{n_members.REALM}/{n_members.NAME}/advanced" title="{n_members.NAME}">
						<td>{n_members.NAME}</td>
						<td>{n_members.RACE}</td>
						<td><img src="./guild/images/race/{n_members.RACE}-{n_members.GENDER}.gif" alt="{n_members.RACENAME}" /></td>
						<td>{n_members.CLASS}</td>
						<td><img src="./guild/images/class/{n_members.CLASS}.gif" alt="{n_members.CLASSNAME}" /></td>
						<td>{n_members.LEVEL}</td>
						<td>{n_members.RANK}</td>
						<td>{n_members.RANKNAME}</td>
						<td>{n_members.ACHIEVEMENTPOINTS}</td>
					</tr>
					<!-- END n_members -->
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- IF U_ACP -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Ex-Member</h3>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-hover table-striped clickable_row" id="datatables-rosterexmember">
				<thead>
					<tr>
						<th>Name</th>
						<th>Race</th>
						<th>Volk</th>
						<th>Class</th>
						<th>Klasse</th>
						<th>Stufe</th>
						<th>Lastseen</th>
						<th>Verlassen</th>
					</tr>
				</thead>
				
				<tbody>
					<!-- BEGIN n_exMembers -->
					<tr data-url="http://{REGION}.battle.net/wow/{BNETLOCALE}/character/{n_exMembers.REALM}/{n_exMembers.NAME}/advanced">
						<td>{n_exMembers.NAME}</td>
						<td>{n_exMembers.RACE}</td>
						<td class="hidden-xs"><img src="./guild/images/race/{n_exMembers.RACE}-{n_exMembers.GENDER}.gif" alt="{n_exMembers.RACENAME}" /></td>
						<td>{n_exMembers.CLASS}</td>
						<td><img src="./guild/images/class/{n_exMembers.CLASS}.gif" alt="{n_exMembers.CLASSNAME}" /></td>
						<td class="hidden-xs">{n_exMembers.LEVEL}</td>
						<td>{n_exMembers.LASTSEENTIMESTAMP}</td>
						<td>{n_exMembers.LASTSEEN}</td>
					</tr>
					<!-- END n_exMembers -->
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- ENDIF -->
