<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
<div class="container-fluid">
	<div class="row bottom10">
		<!-- IF S_DISPLAY_SEARCH -->
			<div class="btn-group">
				<a href="{U_SEARCH_UNANSWERED}" class="btn btn-default">{L_SEARCH_UNANSWERED}</a>
				<!-- IF S_LOAD_UNREADS -->
					<a href="{U_SEARCH_UNREAD}" class="btn btn-default">{L_SEARCH_UNREAD}</a>
				<!-- ENDIF -->
				<!-- IF S_USER_LOGGED_IN -->
					<a href="{U_SEARCH_NEW}" class="btn btn-default">{L_SEARCH_NEW}</a>
				<!-- ENDIF -->
				<a href="{U_SEARCH_ACTIVE_TOPICS}" class="btn btn-default">{L_SEARCH_ACTIVE_TOPICS}</a>
			</div>
		<!-- ENDIF -->
	</div>
</div>
<!-- ENDIF -->
