<div class="jumbotron">
	<div class="container text-center">
		<div id="site-logo">
			<a href="{U_INDEX}" title="{SITENAME}">
				<img src="{T_THEME_PATH}/images/site_logo.png" alt="{SITENAME}" />
			</a>
		</div>
		<p>{SITE_DESCRIPTION}</p>
	</div>
</div>

<!-- IF CLAUSI -->
<div class="jumbotron">
	<div class="container text-center">
		<div class="countdown">
			<h2>Warlords of Draenor Release</h2>
			<div id="wodrelease" class="center-block top20 bottom20" style="max-width: 60%;"></div>
		</div>
	</div>
</div>
<!-- ENDIF -->
