<!-- IF NEWEST_USER -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{L_STATISTICS}</h3>
	</div>
	<div class="panel-body">
		<ul class="list-unstyled">
			<li>{TOTAL_POSTS}</li>
			<li>{TOTAL_TOPICS}</li>
			<li>{TOTAL_USERS}</li>
			<li>{NEWEST_USER}</li>
		</ul>
		<hr/>
		<p><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->{CURRENT_TIME}<!-- ENDIF --></p>
		<!-- IF U_MCP --><p>[&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</p><!-- ELSEIF S_USER_LOGGED_IN --><p>{CURRENT_TIME}</p><!-- ENDIF -->
	</div>
</div>
<!-- ENDIF -->
