<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{TITLE}</h2>
<div class="panel">
	<div class="inner">

		<p>{TITLE_EXPLAIN}</p>

		<!-- IF MODE == 'notification_options' -->
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{L_NOTIFICATION_TYPE}</th>
						<!-- BEGIN notification_methods -->
							<th>{notification_methods.NAME}</th>
						<!-- END notification_methods -->
						<th>{L_NOTIFICATIONS}</th>
					</tr>
				</thead>
				<tbody>
				<!-- BEGIN notification_types -->
					<!-- IF notification_types.GROUP_NAME -->
						<tr class="bg3">
							<td colspan="{NOTIFICATION_TYPES_COLS}">{notification_types.GROUP_NAME}</td>
						</tr>
					<!-- ELSE -->
						<tr class="<!-- IF notification_types.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
							<td>
								{notification_types.NAME}
								<!-- IF notification_types.EXPLAIN --><br />&nbsp; &nbsp;{notification_types.EXPLAIN}<!-- ENDIF -->
							</td>
							<!-- BEGIN notification_methods -->
								<td><input type="checkbox" name="{notification_types.TYPE}_{notification_methods.METHOD}"<!-- IF notification_methods.SUBSCRIBED --> checked="checked"<!-- ENDIF --> /></td>
							<!-- END notification_methods -->
							<td><input type="checkbox" name="{notification_types.TYPE}_notification"<!-- IF notification_types.SUBSCRIBED --> checked="checked"<!-- ENDIF --> /></td>
						</tr>
					<!-- ENDIF -->
				<!-- END notification_types -->
				</tbody>
			</table>
		</div>
		<!-- ELSE -->
			<!-- IF .notification_list -->
			<div class="row bottom5">
				<div class="col-sm-12">
					<div class="btn-group">
						<!-- IF U_MARK_ALL --><a href="{U_MARK_ALL}" class="btn btn-default">{L_NOTIFICATIONS_MARK_ALL_READ}</a><!-- ENDIF -->
						<span class="btn btn-default disabled">{L_NOTIFICATIONS} [<strong>{TOTAL_COUNT}</strong>]</span>
						<!-- IF .pagination -->
							<!-- INCLUDE pagination.html -->
						<!-- ELSE -->
							<span class="btn btn-default disabled">{PAGE_NUMBER}</span>
						<!-- ENDIF -->
					</div>
				</div>
			</div>

			<div class="row bottom5">
				<div class="col-sm-12">
					<ul class="list-inline">
						<li>{L_NOTIFICATIONS}</li>
						<li class="pull-right">{L_MARK_READ}</li>
					</ul>
					
					<ul class="media-list notification_list">
						<!-- BEGIN notification_list -->
							<li class="media<!-- IF notification_list.UNREAD --> bg-warning<!-- ENDIF --><!-- IF notification_list.STYLING --> {notification_list.STYLING}<!-- ENDIF -->">
								<<!-- IF notification_list.URL -->a<!-- ELSE -->span<!-- ENDIF --> class="media-left" <!-- IF notification_list.URL -->href="<!-- IF notification_list.UNREAD -->{notification_list.U_MARK_READ}<!-- ELSE -->{notification_list.URL}<!-- ENDIF -->"<!-- ENDIF -->>
									<!-- IF notification_list.AVATAR -->{notification_list.AVATAR}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" /><!-- ENDIF -->
								</<!-- IF notification_list.URL -->a<!-- ELSE -->span<!-- ENDIF -->>
								<div class="media-body" style="width: 100%;">
									<h4 class="media-heading"><!-- IF notification_list.URL --><a href="<!-- IF notification_list.UNREAD -->{notification_list.U_MARK_READ}<!-- ELSE -->{notification_list.URL}<!-- ENDIF -->"><!-- ENDIF -->{notification_list.FORMATTED_TITLE}<!-- IF notification_list.REFERENCE --> {notification_list.REFERENCE}<!-- ENDIF --><!-- IF notification_list.URL --></a><!-- ENDIF --></h4>
									<!-- IF notification_list.FORUM -->{notification_list.FORUM}<!-- ENDIF -->
									<!-- IF notification_list.REASON -->{notification_list.REASON}<!-- ENDIF -->
									{notification_list.TIME}
									<input type="checkbox" name="mark[]" class="pull-right" value="{notification_list.NOTIFICATION_ID}"<!-- IF not notification_list.UNREAD --> disabled="disabled"<!-- ENDIF --> />
								</div>
							</li>
						<!-- END notification_list -->
					</ul>
				</div>
			</div>

			<div class="row bottom5">
				<div class="col-sm-12">
					<div class="btn-group">
						<!-- IF U_MARK_ALL --><a href="{U_MARK_ALL}" class="btn btn-default">{L_NOTIFICATIONS_MARK_ALL_READ}</a><!-- ENDIF -->
						<span class="btn btn-default disabled">{L_NOTIFICATIONS} [<strong>{TOTAL_COUNT}</strong>]</span>
						<!-- IF .pagination -->
							<!-- INCLUDE pagination.html -->
						<!-- ELSE -->
							<span class="btn btn-default disabled">{PAGE_NUMBER}</span>
						<!-- ENDIF -->
					</div>
				</div>
			</div>


			<!-- ELSE -->
				<p><strong>{L_NO_NOTIFICATIONS}</strong></p>
			<!-- ENDIF -->

		<!-- ENDIF -->
	</div>
</div>

<!-- IF .notification_types or .notification_list -->
<fieldset class="display-actions pull-right">
	<input type="hidden" name="form_time" value="{FORM_TIME}" />
	{S_HIDDEN_FIELDS}
	<input type="submit" name="submit" value="<!-- IF MODE == 'notification_options' -->{L_SUBMIT}<!-- ELSE -->{L_MARK_READ}<!-- ENDIF -->" class="btn btn-primary" />
	<div><a href="#" onclick="$('#ucp input:checkbox').prop('checked', true); return false;">{L_MARK_ALL}</a> &bull; <a href="#" onclick="$('#ucp input:checkbox').prop('checked', false); return false;">{L_UNMARK_ALL}</a></div>
	{S_FORM_TOKEN}
</fieldset>
<!-- ENDIF -->

</form>

<!-- INCLUDE ucp_footer.html -->
